* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Questrial', sans-serif;
    font-weight: 580;
    font-style: normal;
    background-color: #fcf7f1;
}
a {
    text-decoration: none;
    color: black;
}
input {
    color: fieldtext;
    text-rendering: auto;
    outline: none;
}
.header-top {
    background-color: #fac665;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#header-contenedor {
    position: sticky;
    z-index: 5000;
    top: 0;
}
.headertop p {
    font-size: 18px;
}
.header-bottom {
    padding: 10px 12px;
    height: 65px;
    background-color: #fcf7f1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid black;
}
.botoncomprarheader {
    text-decoration: none;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 50px;
    padding: 13px;
    margin-right: 1300px;
    color: black;
    transition: background-color .3s, color .3s;
}
.botoncomprarheader:hover {
    background-color: black;
    color: white;
}
.logohome {
    height: 37px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 42%;
}
.linktexto {
    text-decoration: none;
    margin-right: 30px;
}
main {
    display: block;
    overflow: hidden;
}
#galletasdeliciosas {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 832px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.texto-imagen {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.texto-imagen h1 {
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    text-align: center;
}
.galletahometop {
    border-right: 2px solid black;
    height: 100%;
    width: 72%;
}
.botoncomprarsection {
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px 40px 10px 40px;
    margin-top: 30px;
    color: black;
    transition: background-color .3s, color .3s;
}
.botoncomprarsection:hover {
    background-color: black;
    color: white;
}
#ingredientes {
    display: flex;
    flex-direction:column;
    padding: 70px 0;
    align-items: center;
}
.texto-ingredientes {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    margin: 5px;
}
#ingredientes-contendedor {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.ingrediente {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: 100%;
}
.ingrediente img {
    width: 70px;
    height: 70px;
    vertical-align: middle;
    margin: 40px; 
    opacity: 0.4;
}
#imagen-aceite {
    width: 54px;
    height: 53px;
    margin: 48px;
    opacity: 0.7;
}
#imagen-lacteos {
    width: 57px;
    height: 57px;
    margin: 46px;
}
.ingrediente p {
    font-size: 20px;
    margin-top: -30px;
}
#mira-productos {
    width: 100%;
    height: 100%;
    position: relative;
    height: fit-content;
}
#mira-productos img {
    border: 2px solid black;
    width: 100%;
    height: 650px;
    object-fit: cover;
    margin-bottom: 50px;
}
.botonnuestrosproductos {
    position: absolute;
    align-items: center;
    border: 2px solid white;
    border-radius: 30px;
    padding: 12px 25px;
    margin-top: -400px;
    margin-left: 700px;
    text-decoration: none;
    font-size: 40px;
    font-weight: 400;
    color: white;
    transition: background-color .3s, color .3s;
}
.botonnuestrosproductos:hover {
    background-color: white;
    color: black;
}
#footer-contenedor {
    display: flex;
    flex-direction: column;
}
#footer-contenedor .footer-newsletter {
    background-color: #fac665 ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0;
}
.newsletter-texto {
    margin-right: 40px;
}
.entrada {
    font-size: 32px;
}
.parrafo {
    font-size: 18px;
    margin-top: 15px;
}
.newsletter-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: #fae6c2;
    border: 1px solid black;
    border-radius: 30px;
    margin-top: 12px;
}
#email {
    border: unset;
    border-color: unset;
    background-color: unset;
    margin-right: 30px;
    padding-left: 6px;
    font-weight: 500;
    font-size: 20px;
}
#email:focus {
    background-color: #f8d38f;
}
.enviar {
    background-color: unset;
    border: unset;
    cursor: pointer;
}
.enviar img {
    width: 24px;
    height: 24px;
}
.footer-navinfo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 45px;
    align-items: center;
}
.links {
    display: grid;
    grid-template-columns: repeat(4, 170px);
    column-gap: 10px;
}
.links-grupo {
    display: flex;
    flex-direction: column;
} 
.links-grupo h3 {
    font-size: 25px;
    margin-bottom: 4px;
}
.links-grupo a {
    text-decoration: none;
    font-size: 15px;
    margin-top: 15px;
}
.links-grupo a img {
    height: 22px;
    margin-right: 10px;
}
.span-redes {
    display: flex;
}
.logofooter {
    margin-top: unset;
    display: flex;
    flex-direction: column;
}
.logobottom {
    width: 250px;
    height: auto;
    vertical-align: middle;
}
.copyright {
    font-size: 15px;
    margin-top: 9px;
}
.contenedorcolumnas {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.contenedorcolumnas img {
    vertical-align: middle;
    width: 100%;
}
.columna-flexible {
    display: flex;
    flex-direction: column;
}
.columnashistoria {
    width: 50%;
}
.columnahistoria-imagen {
    border: 1px solid black;
}
.columnahistoria-texto {
    display: flex;
    padding: 3rem;
    align-items: center;
    justify-items: center;
}
.filacolumna1-1 h1{
    font-size: 33px;
    margin-top: 30px;
}
.filacolumna1-1 p {
    font-size: 17px;
    margin: 15px;
    line-height: 23px;
}
.titulo {
    font-size: 45px;
    text-align: center;
    line-height: 50px;
    margin: 20px;
}
.contenido {
    font-size: 17px;
    text-align: center;
    margin: 15px;
    line-height: 23px;
}
#local {
    margin: auto;
    margin: 1.5rem 20rem 1.5rem 20rem;
    padding: 1.5rem;
    max-width: 1300px;
}
.titulo-local {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.titulo-local h1 {
    font-size: 50px;
}
.mapa-info-local {
    display: flex;
    border: 1px solid black;
}
.info-local-contenedor {
    background-color: #FFCEBD;
    border-right: 1px solid black;
    padding: 1.5rem;
    font-size: 20px;
    line-height: 30px;
}
.info-local {
    margin-top: 1.5rem;
}
.comprar-local {
    text-decoration: none;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 50px;
    padding: 13px;
    color: black;
    transition: background-color .3s, color .3s;
}
.comprar-local:hover {
    background-color: black;
    color: white;
}
#contenido-contacto {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}
.contacto-info {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}
.galleta-contacto {
    width: 90%;
    height: auto;
    border-right: 1px solid black;
    object-fit: cover;
}
.texto-columna-contacto {
    display: flex;
    flex-direction: column;
}
.contacto-texto {
    height: 50%;
    border-bottom: 1px solid black;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contacto-texto h2 {
    font-size: 32px;
    margin-bottom: .5rem;
}
.contacto-texto p {
    font-size: 18px;
}.contacto-texto a {
    display: flex;
    align-items: center;
    font-size: 22px;
    margin-top: 15px;
    font-weight: 600;
    
}
.contacto-texto a img {
    height: 30px;
    margin-right: .5rem;
}
.contacto-faq {
    display: flex;
}
.contacto-faq img {
    border: 1px solid black;
    border-top: unset;
    object-fit: cover;
    width: auto;  
}
.texto-faq-contacto {
    padding: 80px 200px;
    width: auto;
    min-width: calc(100%-200px);
}
.texto-faq-contacto h3 {
    font-size: 35px;
    margin-bottom: 30px;
}
.texto-faq h4 {
    font-size: 22px;
}
.texto-faq p {
    font-size: 18px;
    margin-bottom: .5rem;
}

@media (max-width: 768px) {
    .contacto-info {
        display: flex;
        flex-direction: column;
    }
}