#local {
    @include flex-propiedades (column, none, none);
    margin: auto;
    padding: 1.5rem;
    max-width: 1300px;
}
.titulo-local {
    @include flex-propiedades (none, space-between, center);
    margin-bottom: 1rem;
    h1 {
        font-size: 50px;
    }
}
.mapa-info-local {
    display: flex;
    border: 1px solid black;
}
.info-local-contenedor {
    background-color: $backgroundcolor-secundario;
    border-right: 1px solid black;
    padding: 1.5rem;
    font-size: 20px;
    line-height: 30px;
}
.mapa-local {
    width: 100%;
    min-height: 500px;
    iframe {
        @include sizes (100%, 100%);
    }
}
.info-local {
    margin-top: 1.5rem;
}
.comprar-local {
    text-decoration: none;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 50px;
    padding: 13px;
    color: black;
    transition: background-color .3s, color .3s;
    &:hover {
        background-color: black;
        color: white;
    }
}


